@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-background: #151515;
    --color-sidebar: #1b1b1b;
    --color-card: #1a1a1a;
    --color-border-subtle: #ffffff0d;
    --color-primary: #8b5cf6;
    --color-secondary: #a78bfa;
    --color-accent: #c084fc;
    --color-muted: #717182;
    --color-text-main: #ffffff;
    --color-text-dim: #9ca3af;
}

:root {
    --background: #151515;
    --foreground: #ffffff;
    --card: #1a1a1a;
    --card-foreground: #ffffff;
    --popover: #1a1a1a;
    --popover-foreground: #ffffff;
    --primary: #8b5cf6;
    --primary-foreground: #ffffff;
    --secondary: #27272a;
    --secondary-foreground: #ffffff;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --accent: #27272a;
    --accent-foreground: #ffffff;
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
    --border: #27272a;
    --input: #27272a;
    --ring: #8b5cf6;
    --radius: 0.75rem;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}